h1 Create Slot Blockers
h2 Time Range
input(id='timeStart' type='time')
input(id='timeEnd' type='time')
h2 Description
input(id='description' type='text')
h2 Dates
div(class='dates')
    input(type='date')
h2 Tutors
include tutors
button(id='createSlotBlockersButton') Create
script(src='/javascripts/blockersOptions.mjs')