h1 Hours Request
h2 Pay Period
input(id='payPeriodStartInput' type='date')
input(id='payPeriodEndInput' type='date')
h2 Tutors
include tutors
div(id='hoursButtons' class='buttons')
    div
        button(id='requestHoursButton') Request
    div
        button(id='sendEmailsButton') Send Emails