h1 Hours Request
h2 Pay Period
input(id='payPeriodStartInput' type='date')
input(id='payPeriodEndInput' type='date')
h2 Tutors
include tutors
button(id='requestHoursButton') Request
script(src='/javascripts/hoursOptions.mjs')