extends layout

block content
  h1= title
  button(id='hoursFileButton') Hours File
  br
  br
  button(id='createSlotBlockersButton') Create Slot Blockers
  br
  br
  button(id='updateTutorsButton') Update Tutors
