extends layout

block content
  h1= title
  button(id='hoursButton') Hours
  br
  br
  button(id='slotBlockersButton') Slot Blockers
  br
  br
  button(id='updateTutorsButton') Update Tutors
  br
  br
  button(id='tutorsListButton') Tutors List
  br
  br
  button(id='settingsButton') Settings
