extends layout

block content
  h1= title
  input(id='payPeriodStartInput' type='date')
  input(id='payPeriodEndInput' type='date')
  br
  button(id='hoursFileButton') Hours File
  br
  br
  button(id='updateTutorsButton') Update Tutors
