extends layout

block content
  h1= title
  button(id='hoursFileButton') Hours File
  br
  br
  button(id='slotBlockersButton') Slot Blockers
  br
  br
  button(id='updateTutorsButton') Update Tutors
  br
  br
  button(id='tutorsListButton') Tutors List
