extends layout

block content
  h1= title
  button(id='hoursWorkedReportButton') Hours Worked Report
  br
  br
  button(id='createSetmoreSlotBlockersButton') Create Setmore Slot Blockers
  br
  br
  button(id='updateTutorsButton') Update Tutors
  br
  br
  button(id='downloadTutorCoursesListButton') Download Tutor Courses List
  br
  br
  br
  button(id='cancellationReportButton') Cancellation Report
  br
  br
  br
  button(id='settingsButton') Settings
