div(id='settings')
    label(for='emailSubject') Email Subject: 
    input(id='emailSubject' type='text')
    br
    br
    p Email Body:
    textarea(id='emailBodyFormat')
    br
    br
    button(id='saveButton') Save