body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#downloader {
  display: none;
}

.optionsOuterContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

.optionsInnerContainer {
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: right;
  background: whitesmoke;
  border: black;
  border-style: ridge;
  border-width: 3px;
  border-radius: 20px;
}

.options {
  text-align: center;
}

.exitButton {
  padding: 0 7px;
  cursor: pointer;
  font-size: 25px;
  background: #FFA7A7;
  border-style: ridge;
  border-color: black;
  border-radius: 12px;
}

.tutors {
  margin: 10px 0;
  columns: 5;
  column-gap: 10px;
  text-align: left;
}

input[type='date'], input[type='time'] {
  margin: 0 10px;
}

#hoursButtons {
  width: 250px;
}

.previousButton {
  float: left;
  height: 50px;
  width: 40px;
}

.nextButton {
  float: right;
  height: 50px;
  width: 40px;
}

#previewSubject, #emailSubject {
  width: 500px;
}

#previewBody, #emailBodyFormat {
  min-width: 300px;
  min-height: 150px;
  width: 500px;
  height: 250px;
}

.buttons {
  columns: 2;
  margin: auto;
}